@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --colorPrimario:#22D4DF;
    --colorsegundario:#f6f6f6;
    --colorterciario:#000000;
}



*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--colorterciario);
    color: var(--colorsegundario);
    box-sizing: border-box;
}


.strongue{
    color: var(--colorPrimario);
}
.presentacion{
    display: flex;
    align-items: center;
    margin: 7% 15%;
    justify-content: space-between;
}

.pressentarContenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentaciondecontenidotitulo{
    font-family: "New Amsterdam", sans-serif;
    font-size: 46px;
}

.parrafopresentacion{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}
.presentacionenlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.botones{
    width: 378px;
    
    text-align: center;
    padding: 21.5px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #f6f6f6;
    border: 2px solid var(--colorPrimario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacionEnlacesub{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.botones:hover{
    background-color: #272727;
}

.footer{
    background-color: var(--colorPrimario);
    padding: 28px;
    color: #000000;
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.claseheader{
    padding: 2% 0% 0% 15%;
}

.headermenu{
    display: flex;
    gap: 80px;

}
.headermenulinks{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--colorPrimario);
    text-decoration: none;
}

